article {
  color: var(--clr-text-muted);
  > * + *,
  section > * + * {
    margin-block-start: var(--spacing-lg);
  }

  ul,
  ol {
    margin-inline-start: 1.2rem;
    > * + * {
      margin-block-start: 0.5rem;
    }
  }
}

.lead {
  background-color: var(--clr-rev-bg);
  color: var(--clr-rev-text);
  padding: var(--spacing-md);
}

.gallery {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: calc(24 / 16 * 1rem);
  overflow: hidden;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
  }
}

.sr-only {
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: calc(-1 / 16 * 1rem) !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media screen and (min-width: 48rem) {
  .gallery {
    flex-direction: row;
  }
}
