:root {
  color-scheme: light dark;
  --clr-scheme: light;

  /* LIGHT SCHEME */
  --scheme-light-bg-dark: oklch(0.9 0.02 85);
  --scheme-light-bg: oklch(0.95 0.02 85);
  --scheme-light-bg-light: oklch(0.98 0.01 85);
  --scheme-light-text: oklch(0.15 0.02 85);
  --scheme-light-text-muted: oklch(0.45 0.02 85);
  --scheme-light-border: oklch(0.7 0.02 85);
  --scheme-light-border-muted: oklch(0.8 0.02 85);
  --scheme-light-primary: oklch(0.55 0.12 115);
  --scheme-light-secondary: oklch(0.55 0.1 265);
  --scheme-light-highlight: oklch(0.88 0.04 100);
  --scheme-light-danger: oklch(0.55 0.12 30);
  --scheme-light-warning: oklch(0.75 0.1 95);
  --scheme-light-success: oklch(0.65 0.12 150);
  --scheme-light-info: oklch(0.75 0.1 245);

  /* DARK SCHEME */
  --scheme-dark-bg-dark: oklch(0.08 0.02 85);
  --scheme-dark-bg: oklch(0.13 0.02 85);
  --scheme-dark-bg-light: oklch(0.18 0.02 85);
  --scheme-dark-text: oklch(0.97 0.02 85);
  --scheme-dark-text-muted: oklch(0.75 0.02 85);
  --scheme-dark-border: oklch(0.4 0.02 85);
  --scheme-dark-border-muted: oklch(0.3 0.02 85);
  --scheme-dark-primary: oklch(0.76 0.1 115);
  --scheme-dark-secondary: oklch(0.76 0.08 265);
  --scheme-dark-highlight: oklch(0.26 0.04 100);
  --scheme-dark-danger: oklch(0.72 0.1 30);
  --scheme-dark-warning: oklch(0.78 0.08 95);
  --scheme-dark-success: oklch(0.78 0.1 150);
  --scheme-dark-info: oklch(0.78 0.08 245);

  /* BACKGROUNDS */
  --clr-bg-dark: light-dark(
    var(--scheme-light-bg-dark),
    var(--scheme-dark-bg-dark)
  );

  --clr-bg: light-dark(var(--scheme-light-bg), var(--scheme-dark-bg));

  --clr-bg-light: light-dark(
    var(--scheme-light-bg-light),
    var(--scheme-dark-bg-light)
  );

  --clr-rev-bg-dark: light-dark(
    var(--scheme-dark-bg-dark),
    var(--scheme-light-bg-dark)
  );
  --clr-rev-bg: light-dark(var(--scheme-dark-bg), var(--scheme-light-bg));
  --clr-rev-bg-light: light-dark(
    var(--scheme-dark-bg-light),
    var(--scheme-light-bg-light)
  );

  /* TEXT */
  --clr-text: light-dark(var(--scheme-light-text), var(--scheme-dark-text));

  --clr-text-muted: light-dark(
    var(--scheme-light-text-muted),
    var(--scheme-dark-text-muted)
  );

  --clr-rev-text: light-dark(var(--scheme-dark-text), var(--scheme-light-text));
  --clr-rev-text-muted: light-dark(
    var(--scheme-dark-text-muted),
    var(--scheme-light-text-muted)
  );

  /* HIGHLITGHT */
  --clr-highlight: light-dark(
    var(--scheme-light-highlight),
    var(--scheme-dark-highlight)
  );

  --clr-rev-highlight: light-dark(
    var(--scheme-dark-highlight),
    var(--scheme-light-highlight)
  );

  /* BORDER */
  --clr-border: light-dark(
    var(--scheme-light-border),
    var(--scheme-dark-border)
  );

  --clr-border-muted: light-dark(
    var(--scheme-light-border-muted),
    var(--scheme-dark-border-muted)
  );

  --clr-rev-border: light-dark(
    var(--scheme-dark-border),
    var(--scheme-light-border)
  );
  --clr-rev-border-muted: light-dark(
    var(--scheme-dark-border-muted),
    var(--scheme-light-border-muted)
  );

  /* PRIMARY */
  --clr-primary: light-dark(
    var(--scheme-light-primary),
    var(--scheme-dark-primary)
  );

  --clr-rev-primary: light-dark(
    var(--scheme-dark-primary),
    var(--scheme-light-primary)
  );

  /* SECONDARY */
  --clr-secondary: light-dark(
    var(--scheme-light-secondary),
    var(--scheme-dark-secondary)
  );

  --clr-rev-secondary: light-dark(
    var(--scheme-dark-secondary),
    var(--scheme-light-secondary)
  );

  /* DANGER */
  --clr-danger: light-dark(
    var(--scheme-light-danger),
    var(--scheme-dark-danger)
  );

  --clr-rev-danger: light-dark(
    var(--scheme-dark-danger),
    var(--scheme-light-danger)
  );

  /* WARNING */
  --clr-warning: light-dark(
    var(--scheme-light-warning),
    var(--scheme-dark-warning)
  );

  --clr-rev-warning: light-dark(
    var(--scheme-dark-warning),
    var(--scheme-light-warning)
  );

  /* SUCCESS */
  --clr-success: light-dark(
    var(--scheme-light-success),
    var(--scheme-dark-success)
  );

  --clr-rev-success: light-dark(
    var(--scheme-dark-success),
    var(--scheme-light-success)
  );

  /* INFO */
  --clr-info: light-dark(var(--scheme-light-info), var(--scheme-dark-info));

  --clr-rev-info: light-dark(var(--scheme-light-info), var(--scheme-dark-info));
}

.scheme {
  color-scheme: var(--clr-scheme);
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  transition: background-color 200ms ease-in-out;
}

.clr-scheme-widget {
  > .scheme-toggler-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span:not(.toggler-indicator) {
      &::after {
        content: ' på';
      }
    } /* span:not(.toggler-indicator) */
  } /* label end*/
} /* clr-scheme-widget */

.toggler-indicator {
  position: relative;
  display: block;
  height: 1.6rem;
  border-radius: var(--radius-round);

  background-color: var(--clr-rev-bg-dark);
  -webkit-box-shadow: var(--shadow-drop-900);
  -moz-box-shadow: var(--shadow-drop-900);
  box-shadow: var(--shadow-drop-900);

  transition: background-color 300ms ease-in-out;
  width: 3rem;

  /* creatre indicator knob */
  &::after {
    --knob-dimension: 1.2rem;
    content: '';
    position: absolute;

    height: var(--knob-dimension, 1.2rem);
    aspect-ratio: 1;
    border-radius: 100%;

    background-color: var(--clr-primary);
    -webkit-box-shadow: var(--shadow-inset-900);
    -moz-box-shadow: var(--shadow-inset-900);
    box-shadow: var(--shadow-inset-900);

    transform: translate(0.2rem, 0.2rem);
    transition: transform 200ms ease-in-out;
  } /* &::after end */
} /* .toggler-indicator end */

.scheme:has(.clr-scheme-widget .scheme-toggler-box:checked) {
  --clr-scheme: dark;
}

.clr-scheme-widget {
  &:has(.scheme-toggler-box:is(:focus-within, :focus-visible)) {
    > .scheme-toggler-label {
      border-radius: 0.5rem;
      outline: 0.24rem dashed var(--clr-border);
      outline-offset: 0.24rem;
    }
  } /* &:has(.scheme-toggler-box:focus-within, .scheme-toggler-box:focus-visible) */

  &:has(.scheme-toggler-box:checked) {
    span:not(.toggler-indicator) {
      &::after {
        content: ' av';
      }
    } /* span:not(.toggler-indicator) */

    .toggler-indicator {
      /* background-color: var(--clr-rev-bg-dark); */

      &::after {
        transform: translate(1.6rem, 0.2rem);
      }
    } /* .toggler-indicator end */
  } /* &:has(.scheme-toggler-box:checked) */
}
