html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgba(161, 6, 0, 0.3);
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: white;
  height: 500px;
  max-width: 1280px;
}

main {
  background-color: white;
  max-width: 1280px;
  padding: 48px 16px;
}

section {
  margin-bottom: 24px;
}

ol,
ul {
  margin-left: 16px;
}

li {
  line-height: 32px;
}

.ma {
  margin: auto;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

#heading,
.sub-heading {
  font-weight: bold;
  letter-spacing: 0;
}

#heading {
  color: #a10000;
  font-size: 28px;
  line-height: 38px;
}

.sub-heading {
  font-size: 24px;
  line-height: 33px;
}

.image-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.header__banner {
  display: block;
  max-height: 500px;
  max-width: 100%;
}

.summary {
  background-color: #ebebeb;
  padding: 16px;
}

.servings-gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  main {
    padding: 48px;
  }

  .servings-gallery {
    flex-direction: row;
  }
}
