/** @format */

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgba(161, 6, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
}

article {
  background-color: white;
  padding-block-end: 4rem;
}

ol,
ul {
  margin-left: 1rem;
}

li {
  line-height: 2rem;
}

img {
  display: block;
}

.ma {
  margin: auto;
}

.mb-24 {
  margin-block-end: calc(24 / 16 * 1rem);
}

.mb-16 {
  margin-block-end: 1rem;
}

.pb-24 {
  padding-block-end: calc(24 / 16 * 1rem);
}

.content--padding {
  padding-inline: 1rem;
}

.banner {
  background-color: white;
  border: calc(1 / 16 * 1rem) solid white;
}

.banner img {
  background: #dddddd url('./assets/header_banner.png') no-repeat center;
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.content__header {
  padding-block-start: 3rem;
  padding-block-end: calc(24 / 16 * 1rem);
}

.heading,
.sub-heading {
  font-weight: bold;
  letter-spacing: 0;
}

.heading {
  color: #a10000;
  font-size: calc(28 / 16 * 1rem);
  line-height: calc(38 / 16 * 1rem);
}

.lead {
  background-color: #ebebeb;
  padding: 1rem;
}

.sub-heading {
  font-size: calc(24 / 16 * 1rem);
  line-height: 33px;
}

.gallery {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: calc(24 / 16 * 1rem);
  overflow: hidden;
  width: 100%;
}

.gallery__image--container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.sr-only {
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: calc(-1 / 16 * 1rem) !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media screen and (min-width: 48rem) {
  .wrapper {
    max-width: calc(1280 / 16 * 1rem);
  }

  .content--padding {
    padding-inline: 3rem;
  }

  .gallery {
    flex-direction: row;
  }
}
