/** @format */

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgba(161, 6, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
}

article {
  background-color: white;
  max-width: calc(1280 / 16 * 1rem);
  padding-block-end: 4rem;
}

header {
  background-color: white;
  border: calc(1 / 16 * 1rem) solid white;
}

ol,
ul {
  margin-left: 1rem;
}

li {
  line-height: 2rem;
}

.ma {
  margin: auto;
}

.mb-24 {
  margin-block-end: calc(24 / 16 * 1rem);
}

.mb-16 {
  margin-block-end: 1rem;
}

.pb-24 {
  padding-block-end: calc(24 / 16 * 1rem);
}

.content--padding {
  padding-inline: 1rem;
}

.header__banner {
  background: #dddddd url('./assets/header_banner.png') no-repeat center;
  height: 500px;
  width: 100%;
}

.header__content {
  width: 100%;
}

.heading,
.sub-heading {
  font-weight: bold;
  letter-spacing: 0;
}

.heading {
  color: #a10000;
  font-size: calc(28 / 16 * 1rem);
  line-height: calc(38 / 16 * 1rem);
  margin-block-start: 3rem;
}

.lead {
  background-color: #ebebeb;
  padding: 1rem;
}

.sub-heading {
  font-size: calc(24 / 16 * 1rem);
  line-height: 33px;
}

.servings-gallery {
  display: flex;
  flex-direction: column;
  gap: calc(24 / 16 * 1rem);
}

.image-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 0rem;
  margin: calc(-1 / 16 * 1rem);
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0rem;
}

@media screen and (min-width: 48rem) {
  .content--padding {
    padding-inline: 3rem;
  }

  .servings-gallery {
    flex-direction: row;
  }
}
